<html>
<head></head>
<body>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="float-right">
            <img src="/images/icons/user.svg" alt="user" height="32" width="32" >
            <p  class="no-icon-word" id="show-username"></p>
        </div>
    </div>
</div>
<script src="/scripts/head.js" ></script>
</body>
</html>
<script type="text/javascript">




</script>
