<html>
<head></head>
<body>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="float-right">
            <img src="/images/icons/user.svg" alt="user" height="32" width="32" data-toggle="tooltip"
                 data-placement="bottom" title="userName: xxxx">
            <a onclick="make()" class="no-icon-word-button">logout</a>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })


    function make() {
        alert(123);
    }
</script>
