<!DOCTYPE html>
<html>
<head>
    <title>GreenMedia</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <script src="/scripts/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/scripts/bootstrap.min.js"></script>

</head>
<body>
<div>

    <div id="head"></div>

    <div id="release"></div>

    <div id="show-story"></div>

</div>
<script src="/scripts/index.js" ></script>
</body>
</html>


<script type="text/javascript">





</script>
