<link rel='stylesheet' href='/stylesheets/style.css'/>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>

<div style="padding: 10px">
    <a href="/"> &lt;back</a>
    <h1 style="text-align:center;"><span id="personalWallTitle"></span>'s Personal Wall</h1>
    <div id="results" style="padding: 10px;"></div>
</div>

<script src="/scripts/jquery.min.js"></script>
<script src="/scripts/utils.js"></script>
<script src="/scripts/star.js"></script>
<script src="/scripts/personal-wall.js"></script>