<html>
<head>


</head>
<body>

<div style="height:30px;margin-bottom: 10px">
    <button type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal"
            data-target="#releaseModal">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> release
    </button>
</div>


<!--modal-->
<div class="modal fade" id="releaseModal" tabindex="-1" role="dialog" aria-labelledby="releaseModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="releaseModalLabel">Release Moments</h4>
            </div>
            <div class="modal-body">
                <form id="uploadData" onsubmit="return false;" enctype="multipart/form-data">
                    <textarea class="submit-textarea" name="mention" id="mention"></textarea>


                    <div class="row" id="add-pics">


                        <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4" id="upload-pics">
                            <button class="add-pic-default-button">
                                <div class="center-position"><span
                                            class="glyphicon glyphicon-plus" aria-hidden="true"></span>upload
                                    pics，</br>
                                    insist jpg/png<input type="file" name="file" accept="image/*" id="upload"
                                                         class="hidden-upload" multiple onchange="changePic(this)">
                                </div>
                            </button>

                        </div>


                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Submit" onclick="submitData()">
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>


</body>

</html>


<script type="text/javascript">


    // modal function
    var uploadFiles = [];

    $("#add-pics").on("change", function () {

        if (uploadFiles.length === 3) {
            $("#upload-pics").hide();
        }
    });


    function changePic(obj) {
        if (uploadFiles.length < 3 && uploadFiles.length + obj.files.length <= 3) {
            Array.from(obj.files).forEach((value, index) => {
                uploadFiles.push({value: value, name: value.name});
            var newsrc = getObjectURL(obj.files[index]);
            $("#add-pics").prepend(' <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4 pic" id="' + value.name.split(".")[0] + '-div">\n' +
                '\n' +
                '<img src="' + newsrc + '" alt="pics" height="100px" width="100%">\n' +
                '<span class="glyphicon glyphicon-remove remove-button-pics" aria-hidden="true" id="' + value.name.split(".")[0] + '" onclick="removePics(this.id)" style="position:absolute"></span>\n' +
                '</div>')

        })
            ;
        } else {
            alert("You can only add 3 pics");
        }

    }


    function removePics(id) {
        var name = id + "-div";
        $("#" + name + "").remove();
        uploadFiles = uploadFiles.filter(obj => obj.name.indexOf(id) === -1);
        $("#upload-pics").show();
    }


    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL !== undefined) { // basic
            url = window.createObjectURL(file);
        } else if (window.URL !== undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL !== undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }

        return url;
    }


    function submitData() {
        var form = document.getElementById('uploadData');
        sendAjaxQuery('/release', onSubmit());


    };

    function onSubmit() {
        var formArray = $("form").serializeArray();
        var formData = new FormData();
        formArray.forEach(val => {
            formData.append(val.name, val.value);
    });
        uploadFiles.forEach(val => {
            formData.append('files', val.value, val.name);
    })

        return formData;

    }

    function sendAjaxQuery(url, submitData) {
        $.ajax({
            url: url,
            data: submitData,
            dataType: 'JSON',
            contentType: false,
            processData: false,
            type: 'POST',
            success: function (dataR) {
                var ret = dataR;
                $('#releaseModal').modal('hide');
                $("#mention").val("");
                uploadFiles = [];
                $('.pic').remove();
            },
            error: function (xhr, status, error) {
                alert('Error: ' + error.message);
            }
        });
    }
</script>
