body {
    /*padding: 50px;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.no-icon-word-button {
    color: black;
    cursor: pointer
}


.word-button {
    color: grey;
    cursor: pointer
}

.float-right {
    float: right;
}

.user-name {
    font-size: 16px;
    display: inline;
    font-weight: bold;
}


.time {
    font-size: 8px;
    display: inline;
    color: grey;
}

.height-30 {
    height: 30px;
}

.sub-user-name {
    font-size: 14px;
    display: inline;
    font-weight: bold;
}

.sub-time {
    font-size: 4px;
    display: inline;
    color: grey;
}

.sub-font{
    font-size:12px;
}



.comment-textarea{
    width:calc(100% - 65px);
    height:100px;
    resize:none;
    display:inline;
}

.comment-button{
    margin-bottom:5px;
}

#submit-button{
    margin-top:-35px;
}

.inline-display{
    display:inline;
}

.add-pic-default-button{
    width:100%;
    height:100px;
    border:none;
    background: white
}

.center-position{
    text-align: center
}

.hidden-upload{
    opacity: 0;
    position:absolute;
    top:30px;
    height:40px
}

.submit-textarea{
    width:100%;
    height:150px
}

.remove-button-pics{
    float:right;
    right:15px;

}
